pandas
nltk
scikit-learn
pillow
streamlit
streamlit_webrtc
torch==1.10.0
torchvision

antlr4-python3-runtime==4.8
cffi==1.15.0
colorama==0.4.4
Cython==0.29.29
dataclasses==0.6
hydra-core==1.1.2
importlib-resources==5.2.3
numpy
omegaconf==2.1.2
portalocker==2.4.0
pycparser==2.21
PyYAML==6.0
regex==2022.4.24
sacrebleu==2.0.0
tabulate==0.8.9
tqdm==4.64.0
typing-extensions==4.2.0
zipp==3.8.0
setuptools>=18.0
bitarray
sentencepiece
googledrivedownloader
soundfile
librosa
torchaudio